<div class="container mt-5">
  <h1>Show</h1>
  <%= @restaurant.name %>
  <ul>
      <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %> | Rating : <%= review.rating %>
      </li>
      <% end %>
  </ul>

</div>
